{% extends "common/base.html" %}
{% set navbar_active_item = "home" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-4">
                <form>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ocr_language_cn" value="ocr_language_cn">
                        <label class="form-check-label" for="ocr_language_cn">CN</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ocr_language_en" value="ocr_language_en">
                        <label class="form-check-label" for="ocr_language_en">EN</label>
                    </div>
                    <div class="form-group">
                        <label for="ocr_img">OCR image file</label>
                        <input type="file" class="form-control-file" id="ocr_img" accept=".jpg">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}